body {
    font-family: Arial, sans-serif;
    background: var(--bg-main);
    color: var(--text-main);


    margin: 0;
    padding: 0;
}

/* NAVBAR */
.navbar {
    background: var(--bg-main);
    color: var(--text-main);

    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.back-home {
    text-decoration: none;
    color: #0077cc;
    font-weight: 600;
}

/* DETAILS PAGE CARD */
.details-container {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.details-card {
    width: 900px;
    background: var(--bg-main);
    border-radius: 15px;
    display: flex;
    gap: 20px;
    padding: 20px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.15);
}

.details-card img {
    width: 45%;
    height: 420px;
    object-fit: cover;
    border-radius: 15px;
}

.text-box {
    width: 55%;
}

.text-box h1 {
    margin-top: 0;
    font-size: 28px;
}

.text-box h3 {
    margin: 5px 0 20px;
    color: #444;
}

.text-box p {
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 1.5;
}

.back-btn {
    padding: 10px 15px;
    background: #0077cc;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.back-btn:hover {
    background: #005fa3;
}
